[submodule ".azuredevops"]
	path = .azuredevops
	url = https://github.com/KrijnvanderBurg/.azuredevops.git
    branch = main

[submodule "python-repo"]
	path = python-repo
	url = https://github.com/KrijnvanderBurg/python-repo.git
    branch = main
